email=${WK_ARTIFACTORY_EMAIL}
always-auth=true
registry=https://artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/
//artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/:_authToken=${WK_ARTIFACTORY_TOKEN}
